
.submission_details {
  /* background-color: aqua; */
  min-width: 65%;
  margin-left: 250px;
}
.submission_details h1 {
  font-size: 35px;
  margin-left: 350px;
}
.submission_txt{
  margin: 1;
  width: 39ch;
  height: 6ch;
}
.submission_Btn{
  display: flex;
  margin-left: 2050px;
  /* height: 6ch; */
}
.submission_insertBtn{
  display: flex;
  margin-left: "1100px";
}
.submission_details__input {
  display: flex;
  margin: 28px;
}
.submission_details__input p {
  margin: 10px;
  margin-left: 100px;
  font-size: 20px;
  font-weight: 400;
  width: 25%;
}
.res_component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 13px;
  padding: 0px 35px;

}
