h1{
    align-items: center;
    /* font-family: "Times New Roman" */
}
.res_component {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 13px;
    padding: 0px 35px;
  }
  .submission_details {
    min-width: 70%;
  }